<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:include="fragments/head :: head"></th:block>
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
			<div th:if="${not #lists.isEmpty(corridas)}">
		    	<h2>Viagens</h2>
			    <table>
			        <tr>
			            <th>Id</th>
			            <th>Valor</th>
			        </tr>
			        <tr th:each="corrida : ${corridas}">
			            <td th:text="${corrida.id}"></td>
			            <td th:text="${corrida.valor}"></td>
			        </tr>
			    </table>
			</div>
			<div th:if="${#lists.isEmpty(corridas)}">
			    <p> Nenhuma corrida cadastrada!</p>
			</div>
		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/script :: script"></div>
	</body>
</html>