<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:include="fragments/head :: head"></th:block>
	<body>
		<div th:replace="fragments/navbar :: navbar"></div>
		<div class="container">
			<div class="row">
				<form action="#" th:action="@{/inserir-passageiro}" method="post" class="col s12" onsubmit="validarForm()">
					<div class="row">
					    <div class="input-field"> 
				    		<input type="text" th:field="${passageiro.nome}" class="obrigatorio" required="required"/>
				    		<label for="nome">Nome do passageiro: </label>
					    </div>
					</div>
					<div class="row">
					    <div class="input-field"> 
				    		<input type="date" th:field="${passageiro.dataNascimento}" class="obrigatorio" required="required"/>
				    		<label for="dataNascimento">Data de Nascimento: </label>
					    </div>
				  	</div>
					<div class="row">
					    <div class="input-field"> 
				    		<input type="number" th:field="${passageiro.cpf}" class="obrigatorio" required="required"/>
				    		<label for="cpf">CPF: </label>
					    </div>
				   	</div>
					<div class="row">
					    <div class="input-field"> 
				    		<input type="text" th:field="${passageiro.sexo}" required="required"/>
				    		<label for="sexo">Sexo: </label>
					    </div>
				   	</div>
				   	<button class="btn waves-effect waves-light" type="submit">Salvar
    					<i class="material-icons right">send</i>
  					</button>
			    	<button class="btn waves-effect waves-light" type="reset">Limpar</button>
				</form>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/script :: script"></div>
		<script th:inline="javascript">
	
			var validarForm = function(){
				var erro = $(".obrigatorio");
				if (erro.val() == null || erro.val() == ""){
					alert("Preencha o campo");
				}
			}
	
		</script>
	</body>
</html>